<div class="mr-lg-0" >
  <h3 class="mb-3" [translate]="'iDashboard.OpenGrades'"></h3>

  <!--pre-loading state-->
  <div class="card mb-3" *ngIf="isLoading">
    <div class="card-body">
      <div class="ph-col-12">
        <div class="ph-row">
          <div class="ph-col-8 big"></div>
          <div class="ph-col-2 empty big"></div>
          <div class="ph-col-2 big"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-2 big"></div>
          <div class="mx-2 ph-col-6 big"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-4 big"></div>
        </div>
      </div>
    </div>
  </div>
  <!--end pre-loading state-->

  <div *ngIf="openCourseExams">
    <!-- start loop for exame periods -->
    <div class="mb-4" *ngFor="let coursesExam of openCourseExams | orderBy :[ 'year.id' , 'examPeriod.id'] | groupBy: [ 'year.name' , 'examPeriod.name']  | values; let n of list">

      <div class="d-md-flex justify-content-start align-items-end mb-3">
        <div class="pr-3"><h5 class="mb-3 d-inline">{{coursesExam[0]?.examPeriod?.name}} {{coursesExam[0]?.year?.alternateName}}</h5></div>
        <div><span class="my-auto text-secondary">{{coursesExam[0]?.classes[0].courseClass.period?.alternateName | translate}} {{coursesExam[0]?.year?.alternateName}}</span></div>
      </div>

      <!-- start loop for courses of exame periods -->
      <div *ngFor="let courseExam of coursesExam">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-8">
                    <div class="row mt-n2">
                      <h5 class="card-title">{{courseExam?.name}}</h5>
                    </div>
                    <div class="row">
                      <span class="text-secondary mr-3 font-sm"><i class="fa fa-flag pr-1"></i>{{courseExam?.course?.displayCode}}</span>
                    </div>
                    <div class="row mt-1">
                      <span *ngIf="courseExam.classes && courseExam.classes.length>0" class="text-secondary mr-3 font-sm">
                        <i class="fa fa-calendar pr-1"></i>{{courseExam.classes[0].courseClass.period?.alternateName | translate}} {{courseExam?.year?.name}}
                      </span>
                      <span class="text-secondary mr-3 font-sm"><i class="fa fa-university pr-1"></i>{{courseExam?.course?.department?.abbreviation }}</span>
                    </div>
                  </div>
                  <div class="col-md-4 mt-4 mt-sm-0 d-flex align-items-center">
                    <button class="btn btn-universis btn-brand btn-block p-2 rounded" type="button" [routerLink]="[courseExam.url]" >
                      <span [translate]="'iDashboard.ButtonGrade'"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div><!-- end loop for courses of exame periods -->
    </div> <!-- end loop for exame periods -->
  </div>

  <div *ngIf="!isLoading && openCourseExams && openCourseExams.length === 0">
    <div class="info-text" [translate]="'iDashboard.GradesNoRecords'"></div>
  </div>

</div>
